theme: jekyll-theme-chirpy
lang: en
timezone: Asia/Seoul

title: Koogh's Blog
tagline: Robotics PhD | Samsung Research
description: "SLAM, Perception, and Planning for Robotics."

url: "https://koogh.github.io"
github:
  username: Koogh

social:
  name: Koogh
  email: gunhee.koo@gmail.com
  links:
    - https://github.com/Koogh

paginate: 10
baseurl: ""

# 아래 설정은 Chirpy 테마의 정상 작동을 위해 유지해야 합니다.
collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      permalink: /posts/:title/
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "package*.json"
